<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="game-container">
        <div class="game__grid--2048">
            <div class="cell-background">
                <div class="e0 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e1 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e2 empty cell">
                
                </div>
            </div>
            <div class="cell-background">
                <div class="e3 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e4 empty cell">
                                
                </div>
            </div>
            <div class="cell-background">
                <div class="e5 empty cell">
                
                </div>
            </div>
            <div class="cell-background">
                <div class="e6 empty cell">
                
                </div>
            </div>
            <div class="cell-background">
                <div class="e7 empty cell">
                
                </div>
            </div>
            <div class="cell-background">
                <div class="e8 empty cell">
                
                </div>
            </div>
            <div class="cell-background">
                <div class="e9 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e10 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e11 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e12 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e13 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e14 empty cell">
                    
                </div>
            </div>
            <div class="cell-background">
                <div class="e15 empty cell">
                    
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/2048.js"></script>
</html>